@import "vars";
@import "fonts";
@import "libs";

* {
	box-sizing: border-box;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	min-width: 32rem;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	background-image: linear-gradient(to bottom, $color-grad-1, $color-grad-2, $color-grad-3);
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}


.content {
	margin: 5rem auto;
	padding: 3rem 5rem;
	background-color: rgba($color-grey-1, .85);
	border-radius: 1rem;
	width: 85%;
	max-width: 112rem;
}

.headline {

	&__title {
		font-family: $bold-font;
	}	
	&__text {
		font-family: $bold-font;
		font-size: 2rem;
	}
}

.survey {
	margin-top: 2.5rem;
	
	&__title {
		display: block;
		margin-bottom: 1.5rem;
		font-family: $bold-font;
	}

}


@import "media"; // Always at the end


